<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../style/index.css" />
    <script type="module" src="../scripts/forms.js"></script>
  </head>
  <body>
    <div class="menu">
      <a class="menu-item" href="../index.html"><img src="../images/home.png" /> </a>
      <h1>Projet Spécialisation Développement</h1>
      <div class="menu-user">
        <a class="menu-item" href="../components/users-basket.html"><img src="../images/basket.png" /></a>
        <a class="menu-item" href=""><img src="../images/user.png" /></a>
      </div>
    </div>
    <div class="form">
      <form>
        <h2>Connection</h2>
        <div class="form-content">
          <span>Login</span>
          <input type="text" placeholder="login" />
        </div>
        <div class="form-content">
          <span>Password</span>
          <input type="password" />
        </div>
        <button onclick="">Login</button>
        <a href="./register-form.html">Create account</a>
      </form>
    </div>
  </body>
</html>
