<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create produtc</title>
  </head>
  <body>
    <form>
      <span>Title</span>
      <input type="text" />
      <span>Descritption</span>
      <input type="text" />
      <span>Price</span>
      <input type="number" />
      <span>Images</span>
      <input type="text" />
      <span>Category</span>
      <input type="text" />
    </form>
  </body>
</html>
