<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../style/index.css" />
    <script type="module" src="../scripts/forms.js"></script>
  </head>
  <body>
    <div class="menu">
      <a class="menu-item" href="../index.html"><img src="../images/home.png" /> </a>
      <h1>Projet Spécialisation Développement</h1>
      <div class="menu-user">
        <a class="menu-item" href="../components/users-basket.html"><img src="../images/basket.png" /></a>
        <a class="menu-item" href="../components/login-form.html"><img src="../images/user.png" /></a>
      </div>
    </div>
    <div class="form">
      <form id="registerForm">
        <h2>Register</h2>
        <div class="form-content">
          <span>Name</span>
          <input type="text" placeholder="name" name="name" />
        </div>
        <div class="form-content">
          <span>Login</span>
          <input type="text" placeholder="username" name="username" />
        </div>
        <div class="form-content">
          <span>Password</span>
          <input type="password" name="password" />
        </div>
        <input type="submit" value="submit" />
        <a href="./login-form.html">Already have account</a>
      </form>
    </div>
  </body>
</html>
