<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basket</title>
    <link rel="stylesheet" href="../style/index.css" />
    <script type="module" src="../scripts/basket.js"></script>
  </head>
  <body>
    <div class="menu">
      <a class="menu-item" href="../index.html"><img src="../images/home.png" /> </a>
      <h1>Projet Spécialisation Développement</h1>
      <div class="menu-user">
        <a class="menu-item" href="../components/users-basket.html"><img src="../images/basket.png" /></a>
        <a class="menu-item" href="../components/login-form.html"><img src="../images/user.png" /></a>
      </div>
    </div>
  </body>
</html>
